<app-header class="position-fixed w-100"></app-header>
<div class="inicio">
  <div class="menu">
    <h2 class="titulo">Populares</h2>
    <div class="populares_lista d-flex justify-content-between align-items-center">
      <mat-icon class="botoes-paginator" (click)="VoltarPagina()">chevron_left</mat-icon>
      <div class="populares_item d-flex flex-column" *ngFor="let anime of listaAnime">
        <img class="anime-image" [src]="'/assets/' + anime.caminhoImagem"/>
        <span class="pt-1 nome-anime">{{anime.nomeAnime}}</span>
      </div>
    <mat-icon class="botoes-paginator" (click)="PassarPagina()">chevron_right</mat-icon>
    </div>

    <!-- <h2 class="mt-5 titulo">Recomendações</h2>
    <div class="populares_lista d-flex justify-content-between align-items-center">
      <mat-icon class="botoes-paginator">chevron_left</mat-icon>
      <div class="populares_item d-flex flex-column" *ngFor="let anime of listaAnime">
        <img class="anime-image" [src]="'/assets/' + anime.caminhoImagem"/>
        <span class="pt-1 nome-anime">{{anime.nomeAnime}}</span>
      </div>
    <mat-icon class="botoes-paginator">chevron_right</mat-icon>
    </div> -->
  </div>
</div>
