<app-header></app-header>
<div class="detalhes">
  <div class="d-flex">
    <div class="imagem-coluna col-3">
      <img *ngIf="anime.caminhoImagem" [src]='"assets/" + anime.caminhoImagem' class="anime-imagem">
      <div class="texto-imagem">
        <span>AVALIAÇÃO</span>
        <span>{{anime.avaliacao}}</span>
      </div>
      <div class="divisoria"></div>
      <div class="texto-imagem">
        <span>GENÊROS</span>
        <span>{{ anime.nomeGenero.join(', ') }}</span>
      </div>
      <div class="divisoria"></div>
      <div class="texto-imagem">
        <span>AUTOR</span>
        <span>{{anime.autor}}</span>
      </div>
      <div class="divisoria"></div>
      <div class="texto-imagem">
        <span>LANÇAMENTO</span>
        <span>{{anime.lancamento}}</span>
      </div>
      <div class="divisoria"></div>
      <div class="texto-imagem">
        <span>TEMPORADA</span>
        <span>{{anime.temporadas}}</span>
      </div>
      <div class="divisoria"></div>
      <div class="texto-imagem">
        <span>EPISÓDIOS</span>
        <span>{{anime.episodios}}</span>
      </div>
      <div class="divisoria"></div>
      <div class="texto-imagem">
        <span>SITUAÇÃO</span>
        <ng-container *ngIf="anime.finalizado; else andamento">
          Obra Finalizada
        </ng-container>
        <ng-template #andamento>
          Obra em Andamento
        </ng-template>
      </div>
    </div>
    <div class="detalhes-coluna col-9">
      <div class="marcadores">
        <div class="botoes">
          <span class="titulo-anime">{{anime.nomeAnime}}</span>
          <button class="botao">Já Assistido</button>
          <button class="botao">Adicionar a Lista</button>
        </div>
        <div class="estrelas-classificacao">
          <div class="estrelas">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </div>
          <img [src]='"assets/icone-" + anime.classificacao + ".png"'>
        </div>
      </div>
      <div class="onde-assistir">
        <span class="titulo">Onde Assistir: </span>
        <img class="streaming-imagem" *ngIf="anime.nomeStreaming.includes('Crunchyroll')" src="assets/crunchyroll.png" alt="Crunchyroll-Icone">
        <img class="streaming-imagem" *ngIf="anime.nomeStreaming.includes('Netflix')" src="assets/netflix.png" alt="Netflix-Icone">
        <img class="streaming-imagem" *ngIf="anime.nomeStreaming.includes('DisneyPlus')" src="assets/disney.png" alt="DisneyPlus-Icone">
        <img class="streaming-imagem" *ngIf="anime.nomeStreaming.includes('PrimeVideo')" src="assets/primevideo.png" alt="PrimeVideo-Icone">
      </div>
      <div class="sinopse">
        <span class="titulo">Sinopse:</span>
        <div class="texto-sinopse" [innerHTML]="anime.sinopse">
        </div>
      </div>
      <div class="semelhantes">
        <span class="titulo">Semelhantes:</span>
        <swiper-container slides-per-view="1" navigation=true loop="true" speed="700" style="--swiper-theme-color: #f6f6f6;">
          <swiper-slide class="populares_lista">
            <div *ngFor="let anime of listaAnime | slice:0:7" class="populares_item">
              <img class="anime-image" [src]='"assets/" + anime.caminhoImagem' (click)="IrDetalhes(anime.id)"/>
              <span class="pt-1 nome-anime">{{ anime.nomeAnime }}</span>
            </div>
          </swiper-slide>
          <swiper-slide class="populares_lista">
            <div *ngFor="let anime of listaAnime | slice:7:14" class="populares_item">
              <img class="anime-image" [src]='"assets/" + anime.caminhoImagem' (click)="IrDetalhes(anime.id)"/>
              <span class="nome-anime">{{ anime.nomeAnime }}</span>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</div>
