@import '/src/styles.scss';

.detalhes
{
  color: $cor-secundaria;
  padding: 3% 10%;
  font-family: 'Roboto';
}
.imagem-coluna
{
  display: flex;
  flex-direction: column;
}
.anime-imagem
{
  width: 80%;
  margin-bottom: 1%;
}
.texto-imagem
{
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  width: 80%;
}
.divisoria
{
  width: 80%;
  border-top: 2px solid $cor-primaria;
  margin: 5px 0
}
// .detalhes-coluna
// {

// }
.marcadores
{
  display: flex;
  width: 100%;
}
  .titulo-anime
  {
    font-size: 36px;
    font-weight: 600;
    margin-right: 2%;
  }
  .botoes
  {
    display: flex;
    align-items: center;
    gap: 1%;
    width: 80%;
  }
    .botao
    {
      background-color: $cor-primaria;
      color: $cor-secundaria;
      border: none;
      padding: 5px 15px;
      font-weight: 500;
    }
      .botao:hover
      {
        background-color: $cor-terciaria;
      }

  .estrelas-classificacao
  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    width: 20%;
  }
    .estrelas
    {
      display: flex;
    }

.titulo
{
  font-size: 26px;
  font-weight: 600;
}
.onde-assistir
{
  margin-top: 3%;
  width: 100%;
  display: flex;
  gap: 1%;
  align-items: center;
}
.streaming-imagem
{
  width: 50px;
  height: 50px;
}
.sinopse
{
  margin-top: 3%;
  text-align: justify;
}
.texto-sinopse
{
  font-size: 18px;
  text-align: justify;
  margin-top: 1%;
}
.semelhantes
{
  margin-top: 3%;
}
.populares_lista
{
  display: flex;
  gap: 2%;
  align-items: center;
  margin-top: 1%;
}
.populares_item
{
  display: flex;
  flex-direction: column;
  width: 12%;
  align-items: center;
}
.anime-image {
  width: 100%;
  cursor: pointer;
}
.nome-anime
{
  font-size: 14px;
}
