<div class="header d-flex bg-cinza-claro p-3 align-items-center">
  <div class="logo col-2">
    <img src="assets/Logo.png">
  </div>

  <div class="navegacao col-8 d-flex gap-4">
    <div class="d-flex pointer">
      <span>Navegar</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
      <span>Descobrir</span>
      <span>Minha Lista</span>
  </div>

  <div class="icones col-2 d-flex gap-2 justify-content-end">
    <mat-icon class="icone">search</mat-icon>
    <mat-icon class="icone">account_circle</mat-icon>
  </div>
</div>
